body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'roboto', 'Helvetica Neue', Arial, Helvetica;
}

a {
    color: #7A7E83;
    text-decoration: none;
}

nav {
    background-color: #161616;
}

.download {
    text-align: center;
}

.foto-container img {
    width: 100%;
}

#habilidades {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 20px;
}

.button-blue:hover {
    background-color: #6EA8FE;
}

#about {
    padding: 100px 0;
}

.card,
.card a {
    color: whitesmoke;
    background: #161616;
}

.card-body {
    height: 100%;
}


#proyectos .card {
    height: 300px;
}

#contacto a {
    text-decoration: underline;
}

#contacto {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 20px;
    margin-bottom: 75px;
}

textarea {
    resize: none;
    height: 300px;
}

#button-form {
    background-color: #2b2b2b;
}

#button-form:hover {
    background-color: #383838;
    transition: 0.2s linear;
}



footer {
    background-color: #0e0e0e;
}

@media (max-width: 780px) {

    #about {
        padding: 0px 0px 50px 0px;
    }

    #about>div {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: justify;
    }

    .foto-container {

        width: 90%;
    }

    .foto-container {
        height: 95%;
        padding: 0;
    }

    .skill {
        width: max-content;
    }

    .img-fluid {
        height: 100%;
    }

    .job {
        padding-bottom: 25px;
    }

    #proyectosCarousel .card {
        width: 100%;
        /* La tarjeta ocupará el 100% del ancho disponible */
        height: auto;
        /* Ajusta automáticamente la altura */
    }

    #proyectosCarousel .slider-box {
        flex-direction: column;
        /* Cambia el diseño a vertical en lugar de horizontal */
    }

    #proyectosCarousel .col-md-6 {
        flex: 0 0 100%;
        /* Cada columna ocupa el 100% del ancho */
        max-width: 100%;
    }

    #proyectosCarousel img {
        object-fit: cover;
        width: 100%;
        /* La imagen ocupará el ancho completo */
        height: auto;
        /* La altura se ajustará automáticamente */
    }
}

@media (max-width: 500px) {

    main {
        padding: 15px;
    }

    .skill {
        width: max-content;
    }

    .job {
        padding-bottom: 25px;
    }
}