body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'roboto', 'Helvetica Neue', Arial, Helvetica;
}

a {
    color: #7A7E83;
}

nav {
    background-color: #161616;
}

.download{
    background-color: #383838;
    color: #7A7E83;
    border: 1px solid #7A7E83;
}

.download:hover{
    background-color: #7A7E83;
    color: white;
    border: 1px solid #fff;
}

#habilidades {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 20px;
}

.button-blue:hover {
    background-color: #6EA8FE;
}

#about {
    padding: 100px 0;
}

.card,
.card a {
    color: whitesmoke;
    background: #161616;
}

.card-body {
    height: 100%;
}


#proyectos .card {
    height: 300px;
}

#contacto {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 20px;
    margin-bottom: 75px;
}

textarea {
    resize: none;
    height: 300px;
}



#button-form {
    background-color: #2b2b2b;
}

#button-form:hover {
    background-color: #383838;
    transition: 0.2s linear;
}



footer {
    background-color: #0e0e0e;
}