body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    color: #fff;
    font-family: 'roboto', 'Helvetica Neue', Arial, Helvetica;
}

a {
    color: #7A7E83;
    text-decoration: none;
}

nav {
    background-color: #161616;
}

.download {
    position: relative;
    overflow: hidden;
    height: 2rem;
    margin-left: 25px;
    padding: 0 1rem;
    border-radius: 1.5rem;
    background: #353227;
    background-size: 400%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.download a {
    color: #fff;
}


.download:hover::before {
    transform: scaleX(1);
}

.download-content {
    position: relative;
    z-index: 1;
}

.download::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(218, 160, 50, 1) 10.8%,
            rgba(150, 115, 36, 1) 94.3%);
    transition: all 0.475s;
}

#me {
    cursor: pointer;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    width: fit-content;
    background: linear-gradient(82.3deg,
            rgba(218, 160, 50, 1) 10.8%,
            rgb(110, 83, 20) 94.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.foto-container img {
    width: 100%;
}

#skills {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 20px;
}

#about {
    padding: 100px 0;
}

.card {
    color: whitesmoke;
    background: #161616;
}

.card-body {
    height: 100%;
}


#works .card {
    height: 300px;
}

#contact a {
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

#contact a:hover {
    color: #ffc251;
}

#contact {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    padding: 20px;
    margin-bottom: 75px;
}


#contact img {
    width: 100%;
    border-radius: 10px;
}

.form-control {
    background-color: #161616;
}

textarea {
    resize: none;
    height: 300px;
    background-color: #161616;
}

.form-btn {
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 5px 10px 5px 15px;
    border-radius: 100px;
    background: #daa032;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.form-btn:hover {
    background: rgba(150, 115, 36, 1);
}

.form-btn>svg {
    width: 34px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.form-btn:hover svg {
    transform: translateX(5px);
}

.form-btn:active {
    transform: scale(0.95);
}

footer>p {
    margin: 10px 0 0 0;
}

#me {
    padding: 100px 0;
}

.description {
    text-align: justify;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.titulation {
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(30px);
    color: #fff;
    width: 30%;
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.01);
}

.job {
    transition: transform 0.3s ease;

}

.job:hover {
    transform: scale(1.005);
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas */
    grid-template-areas:
        "picture1 picture1 picture2 picture3"
        "picture1 picture1 picture4 picture4"
        "picture5 picture6 picture7 picture7";
    gap: 20px;
}

.photo-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.photo-item:hover img {
    transform: scale(1.1);
}

/* Asignación de las áreas */
.photo-item.picture1 {
    grid-area: picture1;
}

.photo-item.picture2 {
    grid-area: picture2;
}

.photo-item.picture3 {
    grid-area: picture3;
}

.photo-item.picture4 {
    grid-area: picture4;
}

.photo-item.picture5 {
    grid-area: picture5;
}

.photo-item.picture6 {
    grid-area: picture6;
}

.photo-item.picture7 {
    grid-area: picture7;
}

/* Las fotos que se dividen en dos */
.photo-item.picture6,
.photo-item.picture7 {
    height: 100%;
    /* Ambas imágenes ocuparán el mismo espacio */
}

@media (max-width: 1280px) {

    .education-container {
        flex-direction: column;
        align-items: center;
    }


    .titulation {
        width: 100%;
    }
}

@media (max-width: 780px) {


    #me {
        padding: 0px 0px 50px 0px;
    }

    #me>div {
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: justify;
    }

    #about {
        padding: 0px 0px 50px 0px;
    }

    #about>div>div {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: justify;
    }

    .foto-container {
        height: 95%;
        padding: 0;
    }

    .skill {
        width: max-content;
        margin: 0 auto;
    }
    
    .skill-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .slider-box .job {
        padding-bottom: 25px;
    }

    #proyectosCarousel .card {
        width: 100%;
        height: auto;
    }

    #proyectosCarousel .slider-box {
        flex-direction: column;
    }

    #proyectosCarousel .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #proyectosCarousel img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .download {
        margin-left: 0;
    }

    .career-timeline img {
        width: 100%;
        height: auto;
    }


    .card img {
        margin-bottom: 20px;
    }

    .education-container .card {
        background-color: rgba(75, 75, 75, 0.4);
        backdrop-filter: blur(30px);
        color: #fff;
    }

    .hover-zoom:hover {
        transform: scale(1.01);
    }

}

@media (max-width: 580px) {

    main {
        padding: 15px;
    }

    .slider-box .img-fluid {
        height: 100%;
        object-fit: cover;
    }

    .slider-box .row.g-0 {
        height: 15rem;
    }

    .slider-box img {
        object-fit: contain;
        height: auto;
    }

    .skill {
        width: max-content;
    }

    .job {
        padding-bottom: 25px;
    }
}